body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(143, 171, 172);
}

.gridSquares {
    height: 29px;
    width: 29px;
    margin: 0;
    padding: 0;
    flex-basis: content;
    flex-grow: 1;
    flex-shrink: 1;
    transition: 0.5s;
    
    
}

#button {
    
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    padding-top:50px;
}


#container {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    margin: auto;
    align-content: stretch;
    flex-basis: content;
    border: 3px solid hotpink;
    height: 512px;
    width: auto;
    background-color: white;
    padding: 0;
    gap: 0;
    
}